# === Python / FastAPI ===
_pycache_/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# TensorFlow, Keras logs
logs/
checkpoint/
*.log

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd
_pycache_/

# FastAPI / Uvicorn cache
*.db
*.sqlite3

# dotenv / secrets
.env
.env.*

# PyCharm / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db